---

---


img {
  max-width: 100%;
  height: auto;
}

.head {
  @media (min-width: 768px) {
    width: 200px;
    float: left;
  }
}

.content-wrap {
  @media (min-width: 768px) {
    margin-left: 205px;
  }
}
  
.foot {
  @media (min-width: 768px) {
    width: 200px;
    float: left;
  }
}
